body{
    background-color: rgb(158, 139, 168);
    text-align: center;
    border: 2px solid black;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, main, footer{
    background-color: rgb(173, 132, 197);
    border: 2px solid rgb(26, 6, 37);
    padding: 15px;
    
}

main{
    text-align: left;
}

main h2, main h3{
    text-align: center;
}