#headstone-images {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

#headstone-images * {
    margin: 15px 10px;
}

img {
    max-width: 100%;
    border: 5px solid #569656;
}